body{
    background: rgb(41, 163, 137);
    overflow: hidden;
}

.wrap{
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -230px;
    margin-left: -250px;
    width: 500px;
    border-radius: 20px;
    background: rgb(41, 163, 137);
    transform:translateY(600px);
    transition: .7s;
    opacity: .2;
    /* box-shadow: 8px 8px 10px #5c5c5c; */
    /* border: 1px solid #fff; */
}

.login_logo{
    width: 100px;
    height: 100px;
    margin: 20px auto 0;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    text-align: center;
    line-height: 100px;
}
.login_logo img{
    width: 90px;
    height: 90px;
    transition: .5s;
}

.login_text{
    width: 410px;
    margin: 20px auto 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid rgb(223, 221, 221);
    text-align: center;
    line-height: 50px;
    letter-spacing:5px;
}
.input_box{
    box-sizing: border-box;
    position: relative;
    width: 360px;
    margin: 0 auto;
}
.input_box .eglish{
    line-height:30px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
 .wrap .input_box .content{
    padding: 0 15px;
}
.wrap  .input_box .input_name,
.wrap  .input_box .input_psd{
    box-sizing: border-box;
    width: 330px;
    height: 40px;
    margin-top:30px;
    background: #fff;
}
.input_box .login_name,
.input_box .login_password{
    padding-left: 10px;
    width: 280px;
    outline: none;
    height: 40px;
}
.input_box i{
    height: 40px;
    width: 30px;
    transition: .5s;
    vertical-align: middle;
    display: inline-block;
    background: url(login-icon.png)no-repeat;
}
.input_box .name_icon{
   background-position: 5px 8px;
}
.input_box .psd_icon{
    background-position: 5px -120px;
}
/* 
 .input_box b{
    background: rgb(223, 221, 221);
}
.input_box .right_line{
    right:0px;
    transform: rotateY(180deg);
}
.input_box .left_line{
    left: 0px;
}
.input_box .right_line,
.input_box .left_line{
    position: absolute;
    width: 1px;
    top: 0;
   height: 0;
} 
.input_box .bottom_line{
    display: block;
    height: 1px;
    width:0;
    bottom:0px;
    margin:0 auto;
}

.input_box:hover .left_line{
    animation: rightLine .5s linear forwards;
}
.input_box:hover .bottom_line{
    animation: bottomLine .5s .5s linear forwards;
}
.input_box:hover .right_line{
    animation: rightLine .5s  linear forwards;
}
@keyframes rightLine{
    0%{
       height: 0;
    }
    100%{
        height: 100%; 
    }
}
@keyframes bottomLine{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}  */
.input_box .login_rember{
    text-align: right;
    margin: 20px 0 0 0 ;
}
.login_rember span{
    color: #333;
    padding-left: 5px;
    font-size: 14px;
}
.login_rember input{
   vertical-align: middle;
}
.login_register{
    padding: 15px 0;
    color: #333;
    text-align: right;
    font-size: 14px;
}
.login_register a{
    cursor: pointer;
    font-size: 16px;
    padding: 0 3px 1px;
    font-weight: bold
}
.login_register a:hover{
    color: red;
    border-bottom: 1px solid red;
}
.login_btn{
    position: relative;
    text-align: center;
    height: 50px;
    width: 260px;
    margin: 0 auto  20px;
    border-radius: 10px;
}
.wrap .login_btn{
    background: rgba(119, 197, 46, 0.8);
}
.wrap .login_btn p{
    background: rgb(49, 163, 61);
}
.login_btn input{
    position: absolute;
    top: 0;
    left:0;
    cursor: pointer;
    font-size: 20px;
    width: 260px;
    height: 50px;
    background: transparent;
    transition: .5s;
    border-radius: 10px;
    color: #FFF;
}
.login_btn:hover p{
    width: 260px;
}
.login_btn p{
    width: 0px;
    height: 50px;
    border-radius: 10px;
    transition: .2s;
     
}



.register_box{
    position: absolute;
    height: 600px;
    width: 500px;
    top: 50%;
    left:50%;
    margin-top: -300px;
    margin-left: -250px;
    /* background: orange; */
    transform:translateY(600px);
    transition: .5s;
    opacity: 0;
}
.register_box .sr_box{
    margin-top: 20px;
}
.register_box .input_box {
    width: 380px;
}

.register_box .text_box{
    float: left;
    width: 302px;
    background: #fff;
}
.register_box .text_box b{
    float: right;
    width: 36px;
    height: 32px;
    /* background-image: url(dui.png); */
    background-position: center;
    background-repeat: no-repeat;
}
.register_box .sr{
    padding-left: 15px;
    width: 250px;
    height: 32px;
}
.register_box .input_yzm input{
    padding-left: 15px;
    width: 120px;
    height: 32px;
}
.register_box .content .title{
    float: left;
    color: #fff;
    font-size: 16px;
    padding-right: 5px;
}
.yzm_txt{
    cursor: pointer;
    float: right;
    width: 140px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #bfbfbf;
    font-size: 16px;
    /* letter-spacing: 10px;
    font-size: 20px;
    font-style: italic; */
}
.register_yzm{
    font-size: 16px;
}
.register_box .login_btn{
    background:rgba(240, 159, 9, 0.849);
}
.register_box .login_btn p{
    background: rgb(255, 136, 0)
}